public/assets/fonts/flaticon/font/*.html linguist-vendored
public/assets/fonts/flaticon/font/*.scss linguist-vendored
public/assets/fonts/flaticon/font/*.css linguist-vendored
public/assets/fonts/flaticon-2/font/*.html linguist-vendored
public/assets/fonts/flaticon-2/font/*.scss linguist-vendored
public/assets/fonts/flaticon-2/font/*.css linguist-vendored
public/assets/fonts/icomoon/*.html linguist-vendored
public/assets/fonts/icomoon/*.css linguist-vendored
public/assets/scss/*.scss linguist-vendored
public/assets/scss/bootstrap/*.scss linguist-vendored
public/assets/scss/bootstrap/mixins/*.scss linguist-vendored
public/assets/scss/bootstrap/utilities/*.scss linguist-vendored
public/assets/scss/bootstrap/vendor/*.scss linguist-vendored
public/assets/css/*.css linguist-vendored
public/assets/css/bootstrap/*.css linguist-vendored
public/assets/js/aos.js linguist-vendored
public/assets/js/bootstrap-datepicker.min.js linguist-vendored
public/assets/js/bootstrap.min.js linguist-vendored
public/assets/js/isotope.pkgd.min.js linguist-vendored
public/assets/js/jquery-3.3.1.min.js linguist-vendored
public/assets/js/slick.min.js linguist-vendored