<h1>Bonjour ! Vérifiez votre email ci-dessous !</h1>

<p>
    Veuillez confirmer votre adresse mail en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

